:root {
  --primari-header-color: #ffffff;
  --second-header-color: #f7f7f7;
  --light-text: #303030;
  --second-text: #555555;
  --another-text: #9da4bd;
  --acent-color: #ff6c00;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.pre-title::before {
  content: "";
  width: 60px;
  height: 1px;
  display: block;
  background-color: currentColor;
  margin-right: 20px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Raleway, sans-serif;
}

body {
  background-color: var(--primari-header-color);
  font-family: Open sans, sans-serif;
  color: var(--light-text);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  text-decoration: none;
}

button {
  padding: 12px 20px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: 1px solid var(--acent-color);
  border-radius: 25px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover, button:focus {
  background-color: var(--acent-color);
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: gray;
}

.menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: block;
  padding: 32px 0;
  margin-right: 130px;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primari-header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover, .header-link:focus {
  color: var(--acent-color);
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-menu {
  display: flex;
  align-items: center;
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primari-header-color);
}
.header-tel:hover, .header-tel:focus {
  color: var(--acent-color);
}

.menu-btn {
  margin-left: 40px;
  color: var(--primari-header-color);
  background-color: transparent;
}

.hero .container {
  display: flex;
}

.hero-right {
  padding: 272px 0 206px 96px;
  flex-grow: 1;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../img/header-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #303030;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-pretitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.hero-pretitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background: rgba(157, 164, 189, 0.6);
  margin-right: 40px;
}

.hero-title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--primari-header-color);
}

.hero-text {
  width: 357px;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--another-text);
}

.about {
  padding: 120px 0;
}

.about .container {
  display: flex;
}

.list-about {
  display: flex;
}

.about-wrap {
  margin-left: 30px;
  width: 470px;
}

.about-items:not(:last-child) {
  margin-right: 30px;
}

.about-pre-title {
  color: var(--light-text);
  margin-bottom: 20px;
}

.about-title {
  color: var(--primary-header-color);
  margin-bottom: 20px;
}

.about-after-title {
  color: var(--second-text);
  margin-bottom: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--second-text);
  margin-bottom: 42px;
}

.about-btn {
  color: var(--light-text);
}

.pre-title {
  display: flex;
  align-items: center;
}

.prises {
  padding: 120px 0;
  background-image: url(..//../img/service-min.png);
  background-color: #111319;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}

.prices-pre-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.prises-title {
  margin-bottom: 44px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--primari-header-color);
}

.prices-list-wrap {
  display: flex;
  gap: 30px;
  margin-bottom: 74px;
}

.prices-list {
  padding: 30px 20px;
  flex-grow: 1;
}

.prices-list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-elem {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--another-text);
}

.prices-elem:first-child {
  order: -1;
}

.prices-items {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: baseline;
}

.prices-items::before {
  content: "";
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin: 0 12px;
}

.prices-btn {
  background-color: transparent;
  color: var(--primari-header-color);
  margin: 0 auto;
  display: block;
  margin-top: 44px;
}/*# sourceMappingURL=main.css.map */