:root {
  --primari-header-color: #ffffff;
  --second-header-color: #f7f7f7;
  --light-text: #303030;
  --second-text: #555555;
  --another-text: #9da4bd;
  --bg-color: #191c26;
  --acent-color: #ff6c00;
}
