.barbers {
  padding: 84px 0;
  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 120px 0;
  }
  background-color: var(--second-header-color);
}
.barbers .container {
  max-width: 448px;
}
@media screen and(min-width:768px) {
  .barbers .container {
    max-width: 768px;
  }
}
@media screen and(min-width:1200px) {
  .barbers .container {
    max-width: 1200px;
  }
}
.barbers-pre-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.16;
  text-transform: uppercase;

  color: var(--light-text);
}
.barbers-title {
  margin-bottom: 44px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--light-text);
}
.barbers-list {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.barbers-items {
  width: 100%;
}
.barbers-items:not(:last-child) {
  flex-basis: 100%;
  margin-bottom: 64px;
}
.barbers-items:not(:last-child) {
  @media screen and (min-width: 1200px) {
    // flex-basis: calc((100% - 60px) / 3);
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.barbers-name {
  margin-top: 30px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: var(--light-text);
}
.barbers-info {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--acent-color);
}
