.benefits {
  padding: 120px 70px 120px 100px;
}
.benefits .container {
  display: flex;
}
.benefits-list-wrap {
  display: flex;
  justify-content: center;
  width: calc(50% + 15px);
}
.benefits-items {
  width: 170px;
  height: 133px;
  padding-top: 20px;
  background-color: var(--second-header-color);
  text-align: center;
}
.benefits-items > span {
  display: flex;
  justify-content: center;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  color: #303030;
}
.benefits-items > span::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  color: var(--acent-color);
}

.benefits-items > p {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.16;
  color: var(--light-text);
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
}
.benefits-items:nth-child(2n + 1) {
  margin-right: 30px;
}
.benefits-items:nth-child(2n) {
  margin-top: 30px;
}
.benefits-wrap {
  width: 500px;
}
.benefits-pre-title {
  margin-bottom: 20px;
}
.benefits-title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  color: var(--light-text);
}
.benefits-after-title {
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #555555;
}
