.contacts {
  padding: 84px 35px 84px 35px;
  background-image: url("../img/bg-min.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and(min-width:768px) {
    padding: 100px 40px;
  }

  @media screen and(min-width:1200px) {
    padding-top: 130px;
    background-image: none;
  }
}

.contacts-title {
  text-align: center;
  @media screen and(min-width:768px) {
    text-align: start;
  }
  margin-bottom: 40px;
  color: var(--second-header-color);
}
.contact-links {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--another-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-address {
  font-weight: 700;
}
.contacts-pre-title {
  margin-bottom: 20px;
  @media screen and(min-width:1200px) {
    margin-top: 70px;
  }
  color: var(--primari-header-color);
}
.contacts-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--another-text);
  width: 249px;
}
.contacts-items:not(:last-child) {
  margin-bottom: 20px;
}
.contacts-icon {
  fill: var(--another-text);
}

.address {
  display: flex;
  gap: 20px;
  @media screen and(min-width:768px) {
    max-width: 300px;
  }
}
.contact-links:hover,
.contact-links:focus {
  color: var(--acent-color);
}
.location {
  margin-bottom: 30px;
}
.phone {
  margin-bottom: 34px;
  @media screen and(min-width:768px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.soc-contacts {
  @media screen and(min-width:768px) {
    display: flex;
    gap: 30px;
    align-items: flex-start;
  }
  @media screen and(min-width:1200px) {
    flex-direction: column;
    gap: 0;
  }
}
@media screen and(min-width:1200px) {
  .contact-trumb {
    margin-left: -140px;
  }
}
