.hero .container {
  display: flex;
}

.hero-right {
  padding: 208px 113px 209px 31px;
  @media screen and (min-width: 768px) {
    padding: 272px 0 237px 120px;
  }
  @media screen and (min-width: 1200px) {
    padding: 272px 0 206px 96px;
  }
  flex-grow: 1;

  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("..//../img/header_tel-min.jpg");

  @include retina {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url("..//../img/header_tel-2x-min.jpg");
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url("..//../img/header_tab-min.jpg");
    @include retina {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url("..//../img/header_tab-2x-min.jpg");
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        rgba(25, 28, 38, 0.2),
        rgba(25, 28, 38, 0.2)
      ),
      url("..//../img/header-min.jpg");

    @include retina {
      background-image: linear-gradient(
          rgba(25, 28, 38, 0.2),
          rgba(25, 28, 38, 0.2)
        ),
        url("..//../img/header-2x-mun.jpg");
    }
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #303030;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-pretitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);

  &::before {
    content: "";
    width: 60px;
    height: 1px;
    background: rgba(157, 164, 189, 0.6);
    margin-right: 40px;
  }
}
.hero-title {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.16;
  @media screen and (min-width: 1200px) {
    font-size: 72px;
    line-height: 1.18;
  }
  letter-spacing: 0.05em;
  color: var(--primari-header-color);
}
.hero-text {
  width: 357px;
  font-size: 16px;
  line-height: 1.62;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.66;
  }
  letter-spacing: 0.02em;
  color: var(--another-text);
}
.hero-soc {
  width: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: 27px;
  padding-bottom: 40px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.hero-list {
  display: flex;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  align-items: center;

  gap: 40px;
  &::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: var(--light-text);
  }
}
.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--light-text);
  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}
